* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: gold;
}

/* Hero */
.hero {
    height: 80vh;
    background: linear-gradient(to right, #000, #333);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: gold;
    cursor: pointer;
    font-weight: bold;
}

/* Services */
.services {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}